.grid-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar-filters shop-items shop-items shop-items"
    "sidebar-filters shop-items shop-items shop-items"
    ". . . .";
}

.siderbar-filters { grid-area: sidebar-filter; }
.shop-items { grid-area: shop-items; }

.sidebar-filters {
    margin-left: 2%;
    margin-top: 2%;
}

.category-filter,
.quality-filter {
    margin-top: 3%;
}

.price-filter {
    margin-top: 10%;
}

.price-heading {
    text-align: center;
    margin-bottom: 6%;
}

.content {
  width: 40%;
  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: 0.6s;
}
.card-img-top {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.shop-items-heading {
    text-align: center;
    margin: 1%;
}

.no-products-handler {
    text-align: center;
}

@media (max-width: 1000px) {
  .content {
    width: 46%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}
