@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

.form-group {
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
  }

  body {
    padding-bottom: 50px;
    font-family: "Poppins", sans-serif;;
}

 .heading-item {
   text-align: center;
 }

.navbar-float-right {
  position: absolute;
  right: 20px;
  white-space: nowrap;
}

.navbar-float-right-right {
  position: absolute;
  right: 100px;
  white-space: nowrap;
}

.navbar-nav {
  font-size: 14px;
}

ul.navbar-nav li a{
  padding: 4px;
  color: black;
}

ul.navbar-nav a:hover { 
  border-bottom: 1px black solid !important; 
}

ul.navbar-nav  {
  align-content: center;
  justify-content: center;
  margin: auto;
}

.form-check{
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
}

.form-button{
  text-align: center;
  margin-top: 55px;
}

.form-button-twp{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid rgb(65, 65, 65);
  transition: all 0.3s ease;
}

.seller-div {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-select-profile {
  width: 15%;
  position: absolute;
  right: 42.5%;
  margin-top: 10px;
}

.heading-allitems {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-group {
  margin: 20px 50px;
}

.card-img-top {
  height: 200px;
}

.card {
  border-radius: 10px;
}

.card-body p{
  margin-top: -10px;
}

.card-text-price {
  font-weight: bold;
}

.details-div {
  text-align: center;
  position: relative;
  top: 50px;
}

.card-group-profile {
  position: relative;
  top: 60px;
}

.button-login {
  text-align: center;
  margin-top: 10px;
}

.second-details {
  margin-top: 13px;
}

.details-margin {
  margin-left: 15px;
}

.card-centre {
  text-align: center;
  margin: auto;
  margin-bottom:10px;
}

.profile-heading {
  margin-top: 20px;
}

.profile-delete {
  text-align: center;
  margin-top: 10px;
}

.add-item-div {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}